@model ExploreCalifornia.Models.Post

@{
    Layout = "_Layout";
}

@await Html.PartialAsync("_Post")
@*<article>
    <h1>@Model.Title</h1>
    <div>
        Posted <span>@Model.Posted</span> by <span>@Model.Author</span>
    </div>
    <div>
        @Model.Body
    </div>
</article>*@